{% extends "base.html" %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <h1>Лабораторная работа №4</h1>
    
    <div class="lab-info">
        <div class="lab-description">
            <b>Пользователь:</b> {{ user.name }}<br>
            <b>Тема:</b> "Разработка механизмов аутентификации и авторизации для WEB-приложений
            на Flask"<br><br>
            <b>Описание:</b><br>
            В данной лабораторной работе реализована система аутентификации и авторизации пользователей 
            с использованием Flask и Flask-Login. 
            Пользователи могут зарегистрироваться, войти в систему и выйти из нее. 
            Для неавторизованных пользователей доступ к главной странице ограничен.
        </div>
    </div>
    
    <form action="{{ url_for('logout') }}" method="get">
        <button type="submit" class="btn-logout">Выход</button>
    </form>
{% endblock %}